@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #1E1E1E;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#active:checked ~ .wrapper {
  /*left: 0;*/
  right: 0%;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  position: fixed;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 0%;
  font-size: 10px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 3px solid #000000;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: green;
  pointer-events: none;
  -webkit-transition: background .1s;
  transition: background .1s;
}

/* closing animation */
#active:checked + .menu-btn span {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#active:checked + .menu-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: white;
}

#active:checked + .menu-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-color: white;
}

.wrapper ul {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  height: 10%;
  margin: 15px 0;
}

.wrapper ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #979991;
  border-radius: 10px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  width: 250px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #1E1E1E;
  -webkit-box-shadow: 5px 5px 0px #161616, -5px -5px 0px #262626;
          box-shadow: 5px 5px 0px #161616, -5px -5px 0px #262626;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.active a {
  background: #1E1E1E;
  -webkit-box-shadow: 5px 5px 0px #161616, -5px -5px 0px #262626;
          box-shadow: 5px 5px 0px #161616, -5px -5px 0px #262626;
}

.wrapper ul li a:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 500px;
  color: #202020;
}

.content .title {
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: 800;
  color: white;
}

.content p {
  font-size: 25px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a {
  opacity: 1;
}

.wrapper ul li a {
  -webkit-transition: opacity 1.2s, -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 1.2s, -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

#active:checked ~ .wrapper ul li a {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);
          transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);
  /* easeOutBackを緩めた感じ */
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.type {
  color: transparent;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.box {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h3 {
  -webkit-animation: bounce 2s 1;
          animation: bounce 2s 1;
  margin-right: 100px;
  background: #4BB3FD;
  letter-spacing: normal;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  width: 100px;
  -webkit-text-decoration: 123;
          text-decoration: 123;
}

.box a {
  text-decoration: none;
  font-size: 16px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.box a:nth-child(1) {
  background-color: #007ACC;
  color: white;
}

.box a:nth-child(1):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 10px;
  color: white;
}

.box a:nth-child(1) {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  background-color: #026EAA;
}

.box a:nth-child(2) {
  color: white;
  background-color: #262626;
}

.box a:nth-child(2):hover {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.box a:nth-child(3) {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #0077B5;
  color: white;
}

.box a:nth-child(3):hover {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.box a:nth-child(4) {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.box a:nth-child(4):hover {
  margin-left: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.btn {
  width: 100%;
  height: 100px;
}

.logo {
  z-index: 999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-bottom: 300px;
}

.logo a {
  width: 100%;
  text-decoration: none;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  color: #28303F;
}

.logo a:hover {
  color: black;
}

.logo h3 {
  font-weight: 900px;
  font-size: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.los {
  text-decoration: none;
}

.logo img {
  cursor: pointer;
  height: 80px;
  width: 80px;
}

.container {
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.down a {
  text-decoration: none;
  font-size: 50px;
  font-weight: 100;
  color: white;
  font-weight: 900;
}

.down a:hover {
  color: #4BB3FD;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.wrapper ul li a {
  left: 20%;
  padding: 5px, 12px;
}

#home {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(-45deg, rgba(75, 179, 253, 0.5), rgba(231, 60, 126, 0.5), rgba(35, 166, 213, 0.5), rgba(35, 213, 171, 0.5));
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  height: 100vh;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(68%, #f9f9f9), color-stop(98%, #ffffff));
  background-image: linear-gradient(0deg, #f9f9f9 68%, #ffffff 98%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutcont {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 90px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutcont p {
  text-align: justify;
}

.aboutitem {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  background-color: #EE6C4D;
  height: 5px;
  width: 5%;
}

.titleabout {
  text-align: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleabout h1 {
  font-size: 50px;
  font-weight: 500;
  color: transparent;
  background: #293241;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.aboutitem:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutitem img {
  height: 400px;
  width: 400px;
}

.aboutbox {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 900px;
  padding: 20px;
}

.aboutitem h1 {
  font-size: 30px;
  font-weight: 600;
  color: #293241;
}

.cv {
  height: 45px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv a {
  text-decoration: none;
  font-size: 16px;
  height: 100%;
  color: #293241;
  width: 100%;
  background-color: #4BB3FD;
  text-align: center;
  padding-top: 12px;
  border-radius: 5px;
}

.cv a:hover {
  display: inline-block;
  text-align: center;
  color: white;
  /* default color */
  /* "to left" / "to right" - affects initial color */
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #3D5A80), color-stop(50%, #4BB3FD)) right;
  background: linear-gradient(to left, #3D5A80 50%, #4BB3FD 50%) right;
  background-size: 200%;
  -webkit-transition: .9s ease-out;
  transition: .9s ease-out;
}

.par {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  row-gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parICON {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parcontent {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.parone {
  height: 500px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border-radius: 5px;
  background: #FFFFFF;
  -webkit-box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
          box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parone h3 {
  font-weight: 600;
}

.parone:nth-child(1):hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: #FFFFFF;
  -webkit-box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
          box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
}

.parone:nth-child(1):hover h3 {
  color: transparent;
  background: #302f2f;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(163, 148, 148, 0.5);
}

.parone:nth-child(1):hover h1 {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.parone:nth-child(3):hover {
  -webkit-transition: 1s;
  transition: 1s;
  transition: 1s;
  background: #FFFFFF;
  -webkit-box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
          box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
}

.parone:nth-child(3):hover h3 {
  color: transparent;
  background: #302f2f;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(163, 148, 148, 0.5);
}

.parone:nth-child(3):hover h1 {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.parone:nth-child(2):hover {
  -webkit-transition: 1s;
  transition: 1s;
  transition: 1s;
  background: #FFFFFF;
  -webkit-box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
          box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
}

.parone:nth-child(2):hover h3 {
  color: transparent;
  background: #302f2f;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(163, 148, 148, 0.5);
}

.parone:nth-child(2):hover h1 {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.parone p {
  padding: 20px;
  text-align: justify;
  font-size: 16px;
}

.parralax {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
  width: 100%;
  background: #4BB3FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills h1 {
  text-align: center;
  color: transparent;
  background: #293241;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 50px;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.skillscont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin-bottom: 100px;
}

.contper h1 {
  text-align: center;
  color: #503304;
  visibility: hidden;
}

.skillitem:nth-child(1) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(228, 77, 38, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(2) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(214, 190, 0, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(3) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(190, 96, 139, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(4) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(112, 61, 188, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(5) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(104, 126, 96, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(6) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(154, 73, 147, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(7) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(183, 131, 86, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(8) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(221, 48, 49, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillitem:nth-child(9) .contper {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(120, 124, 180, 0.5);
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.percent {
  overflow: hidden;
  height: 200px;
  position: absolute;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.skillitem {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  color: #7A7A7A;
  font-family: sans-serif;
  background: #FFFFFF;
  -webkit-box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
          box-shadow: -5px -5px 16px #d4d4d4, 5px 5px 16px #ffffff;
  margin: 20px;
}

.skillitem:hover {
  -webkit-transition: all ease 1.2s;
  transition: all ease 1.2s;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  -webkit-box-shadow: 5px 5px 6px #707070, -5px -5px 6px #ffffff;
          box-shadow: 5px 5px 6px #707070, -5px -5px 6px #ffffff;
}

.skillitem img {
  height: 100px;
  width: 100px;
  padding: 10px;
}

#vba img {
  height: 100px;
  width: 150px;
}

.rep {
  height: 200px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rep h1 {
  color: #fafafa;
}

.rep h3 {
  color: #ffffff;
}

#projects {
  background-color: #F9F9F9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projcontainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.contproj ul {
  gap: 5px;
  height: 40px;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contproj ul li {
  display: inline;
  background-color: #6B6B6B;
  padding: 8px;
  margin-top: 10px;
  font-size: 13px;
  color: white;
  border-radius: 5px;
}

.projcontainer:nth-child(3) {
  margin-top: 100px;
}

.carousel {
  height: 500px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E0E0E0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  border-radius: 5px;
}

.contproj ul .dd {
  background-color: #1b1616;
}

.contproj a {
  text-decoration: none;
  font-size: 15px;
  text-align: right;
  border-radius: 10px;
  color: white;
}

.contproj ul .dd:hover {
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  background-color: #414141;
}

.contproj ul .dd:hover a {
  color: white;
}

.carousel img {
  height: 400px;
}

.projectcont {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contproj {
  padding-left: 20px;
  padding-right: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.contproj h5 {
  color: #2929f3;
}

.titleproj {
  text-align: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleproj h1 {
  font-size: 50px;
  font-weight: 500;
  color: transparent;
  background: #293241;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.projectcont:nth-child(1) .carousel {
  width: 100%;
  height: 350px;
  background-color: #0B0E17;
  padding: 20px;
  z-index: 1;
}

.projectcont:nth-child(1) .carousel img {
  width: 80%;
  height: 250px;
  border-radius: 10px;
}

.projcontainer:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Disata {
  margin-top: 100px;
}

.projimcont {
  background-color: #0000;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projimcont img {
  height: 100%;
  width: 100%;
  -webkit-transition: all ease-in-out 1.2s;
  transition: all ease-in-out 1.2s;
}

.projimcont:hover img {
  -webkit-transition: all ease-in-out 1.2s;
  transition: all ease-in-out 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#Booba {
  margin-top: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pharma {
  margin-top: 100px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

#pharma .carousel {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  background-color: #000000;
  z-index: 1;
}

#pharma .carousel img {
  height: 300px;
  width: 100%;
  padding: 20px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contactcont {
  background-color: #F9F9F9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #0D2860;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerbox {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerbox:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footericon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footericon a {
  text-decoration: none;
  font-size: 30px;
  color: #616060;
  overflow: hidden;
}

.footericon a:hover {
  color: whitesmoke;
}

.footerbox h2 {
  font-size: 25px;
  margin-top: 20px;
  color: #F0A94D;
}

.footerbox:nth-child(1) h2 {
  width: 100%;
}

.footerbox p {
  color: whitesmoke;
}

.footer span {
  color: #F0A94D;
}

@media (max-width: 990px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pic {
    display: none;
  }
  .footer {
    row-gap: 2px;
  }
  .skillscont {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skillitem {
    height: 160;
    width: 180px;
  }
  .percent {
    height: 160;
    width: 180px;
  }
}

@media (max-width: 800px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .content p {
    font-size: 15px;
  }
  .title h3 {
    color: white;
    text-shadow: none;
  }
  .content .title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
    -webkit-animation: bounce;
            animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    text-shadow: 4px 3px 0 #7A7A7A;
  }
  .type {
    font-size: 20px;
    text-shadow: none;
    letter-spacing: 5px;
  }
  .container {
    background-color: transparent;
  }
  .wrapper ul {
    width: 200px;
  }
  .aboutbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutbox p {
    width: 100%;
  }
  .aboutbox {
    width: 300px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .aboutbox h1 {
    font-size: 25px;
  }
  .rep {
    height: 150px;
    padding: 10px;
  }
  .aboutbox p {
    padding: 20px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footericon {
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
  .line {
    width: 30%;
  }
  .aboutcont {
    margin: none;
  }
  .aboutitem img {
    height: 250px;
    width: 250px;
  }
  .footerbox:nth-child(1) {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */